* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f3f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 50px 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  text-transform: uppercase;
  text-align: center;
}

.username {
  margin-top: 30px;
}

.username,
.password {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.password {
  margin-top: 20px;
}

.username input[type="text"],
.password input[type="password"] {
  height: 30px;
  padding: 0 5px;
}

.conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 5px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

button {
  padding: 10px 30px;
  align-self: center;
  text-transform: uppercase;
  margin-top: 15px;
}

form {
  width: 100%;
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.userlist {
  margin-top: 20px;
}

.remove {
  padding: 0;
  border: 0;
  background-color: #fff;
  margin-left: 5px;
  cursor: pointer;
}
